.logo{
  position: absolute;
  padding:0px 0px 0px 0px;

}


#title{

  /* background-color: #ff4c68; */
  color: #fff;
 background-image: url("https://github.com/vishalabhange/gamming-site/blob/main/images/background.png") ;
 /* background-size: 73%; */
 /* height: 748px; */
 padding-bottom: 10%;
}

body{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
  line-height :1.5;
}

h2{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 2.5rem;
  line-height :1.5;
}

h2:hover{
  color: #E83A14;
}

h3{
  font-family: "Montserrat-bold"
}

hr{
  color: white;
}

/* p{
  color: #8f8f8f;
} */


        /* Navigation bar */

.navbar{
  padding: 0 0 4.5rem;

}



.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight:bold;

}

.nav-item{
  padding: 0 18px;

}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}


   /* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


/* title image */

.title-image{
  width: 120%;
  padding-right: 50px;
  border-radius: 5%;
  /* transform: rotate(15deg); */
}


/* features section */

#features{
  padding: 10% 15%;
  color: #fff;
  background-color: #191919;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #E83A14;
  margin-bottom: 2rem;
}

.icon:hover{
  color: white;
}


/* testimonial section */

#testimonials{

  text-align: center;
  background-color: #191919;
  color: #fff;
}


.testimonial-img{
  width: 50%;
  border-radius: 20%;
  margin-top: 50px;
}

.carousel-item{
    padding: 10% 15%;
}


/* press section */

#press{
  background-color: #fff;
  text-align: center;
  padding: 5% 0;
}

.press-logo{
  width: 15%;
  margin: 50px 20px 20px;
}


/* pricing section */

#pricing{
  padding: 100px;
  background-color: #191919;
}

.pricing-text{
  text-align: center;
  padding: 3% 5% 5%;
  color: #fff;
}

.card-header{

}


    /* cta section */

#cta{
  background-color: #191919;
  color: #fff;
  padding: 10% 15%;
  text-align: center;

}

.cta-heading{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}


/* footer section */

#footer{
  padding: 10% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}
